<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= current_page.data.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png">
    <%= stylesheet_link_tag 'main.css' %>
        
    <!-- JS -->
    <script type="text/javascript" src="/assets/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>

    <link type="application/atom+xml" rel="alternate" href="/blog/feed.xml" />
     
    <% if current_page.data.canonical_url %>
      <link rel="canonical" href="<%= current_page.data.canonical_url %>">
    <% end %>
      
    <!-- Google Analytics Magic -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39101739-6', 'finagle.github.io');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <!-- navbar excitement -->
    <div class="navbar navbar-custom navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-right navbar-nav">
            <li><a href="https://twitter.github.io/finagle/">Project</a></li>
            <li><a href="https://github.com/finagle/">Ecosystem</a></li>
            <li class="dropdown">
              <a href="https://twitter.github.io/finagle/">Learn more <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.github.io/finagle/guide/">
                  <i class="fa fa-book"></i> User's guide</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.github.io/finagle/guide/Quickstart.html">
                  <i class="fa fa-check-square-o"></i> Quickstart</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/twitter/finagle/blob/master/ADOPTERS.md">
                  <i class="fa fa-smile-o"></i> Adopters</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="https://github.com/twitter/finagle">Get involved <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/twitter/finagle">
                  <i class="fa fa-github-alt"></i> Source</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/twitter/finagle/blob/master/CONTRIBUTING.md">
                  <i class="fa fa-code-fork"></i> Contributing</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/finagle">
                  <i class="fa fa-twitter"></i> @finagle</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://groups.google.com/forum/#!forum/finaglers">
                  <i class="fa fa-envelope"></i> Mailing list</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="http://stackoverflow.com/questions/tagged/finagle">
                  <i class="fa fa-stack-overflow"></i> Stack Overflow</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://github.com/finagle/finagle.github.io/">
                  <i class="fa fa-pencil"></i> Write a blog post!</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
    <div class="container">
      <%= yield %>
      <hr>
      <!-- footer -->
      <div class="footer pull-right">
        <p>&copy; 2014 <a href="https://twitter.com/">Twitter, Inc.</a> and other contributors
      </div><!-- /footer -->
    </div><!-- /container -->
  </body>
</html>
